@model IEnumerable<CPW221_MomsAndBabies.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorContactFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorContactLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContactLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
